apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: portfolio
type: Opaque
data:
  # echo -n 'root' | base64
  mysql-root-password: cm9vdA==
  db-user: cm9vdA==
  db-pass: cm9vdA==

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-root-password
            - name: MYSQL_DATABASE
              value: portfolio
            # you can ignore MYSQL_USER / MYSQL_PASSWORD and just use root
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: portfolio
spec:
  selector:
    app: mysql
  ports:
    - name: mysql
      port: 3306
      targetPort: 3306
  type: ClusterIP
